$color-primary:       #fdce04 !default;
$color-secundary:     #562382 !default;
$color-tertiary:      #ec3853 !default;

$color-heading:       #323b43 !default; // Used for titles
$color-body:          #59626a !default; // Used for paragraph text
$color-border:        #ced7df !default; // Used for borders

$color-subtle:        #a0a098 !default;
$color-dark:          #231f20 !default;
$color-white:         #ffffff !default;
$color-black:         #000000 !default;

$color-success:       #27ae60;
$color-warning:       #f39c12;
$color-error:         #c0392b;
$color-information:   #34495e;

// components
$color-table:         #dddddd !default;
$color-link:          #231f20 !default;