$color-primary:       #13c6a6;
$color-secondary:     #4360a8;
$color-tertiary:      #d81b60;

$color-heading:       #212631; // Used for titles
$color-font:          #4f5164; // Used for paragraph text
$color-body:          #f7f8f9; // Used for body
$color-border:        #959eae; // Used for borders

$color-tab-body:      #f7f8f9;
$color-tab-dark:      #4f5164;
$color-tab-border:    darken($color-tab-body, 10%);

$color-subtle:        #959eae;
$color-dark:          #4f5164;
$color-white:         #ffffff;
$color-black:         #000000;

$color-success:       #52bb52;
$color-warning:       #ffa726;
$color-error:         #e03550;
$color-information:   #4a7bd1;

// components
$color-table:         #f7f8f9 !default;
$color-link:          #212631 !default;