$color-primary:       #56c560 !default;
$color-secundary:     #46b5b8 !default;
$color-tertiary:      #d81b60 !default;

$color-heading:       #212631 !default; // Used for titles
$color-font:          #97a0aa !default; // Used for paragraph text
$color-body:          #f7f8f9 !default; // Used for body
$color-border:        #959eae !default; // Used for borders

$color-subtle:        #a0a098 !default;
$color-dark:          #231f20 !default;
$color-white:         #ffffff !default;
$color-black:         #000000 !default;

$color-success:       #52bb52;
$color-warning:       #ffa726;
$color-error:         #e03550;
$color-information:   #4a7bd1;

// components
$color-table:         #f7f8f9 !default;
$color-link:          #212631 !default;