// FOR THE STYLEGUIDE
code.serif:after{
  content:$font-family-serif;
}
code.sans-serif:after{
  content:$font-family-sans-serif;
}

// LINK COLORS
a{
  color: $color-link;
  &:hover{
    
  }
}

header{
  background: $color-primary;
}

// SELECTION COLORS
::selection{
  background-color: $color-secundary;
  color: $color-white;
}