a{
  color: $color-primary;
}

header{
  background: $color-primary;
  width: 100%;
}

::selection{
  background-color: $color-secundary;
  color: $color-white;
}
.thumbnail{
  display: block;
  padding: 4px;
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: 5px;
}