// FOR THE STYLEGUIDE
code.serif:after{
  content:$font-family-serif;
}
code.sans-serif:after{
  content:$font-family-sans-serif;
}

// LINK COLORS
a{
  color: $color-primary;
}


header{
  background: $color-primary;
  width: 100%;
}

// SELECTION COLORS
::selection{
  background-color: $color-secundary;
  color: $color-white;
}

// THUMBNAILS
.thumbnail{
  display: block;
  padding: 4px;
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  transition: all 0.3s ease-in-out;
  &:hover{
    box-shadow: 0 16px 38px -12px rgba($color-dark, 0.36),
                0 4px 25px 0px rgba($color-dark, 0.08),
                0 8px 10px -5px rgba($color-dark, 0.08);
  }
}