// TYPOGRAPHY
h1,h2,h3,h4,h5{
  font-family: $font-family-serif;
  color: $color-heading
}
body,
p{
  font-family: $font-family-sans-serif;
  color: $color-body
}
ul, ol{
  word-break: break-word;
}
ol li{
  list-style: inherit;
}
blockquote{
  padding: 1.2em;
  background: lighten($color-subtle, 30%);
  border-left: 2px solid lighten($color-secundary, 30%);
}
code{
  display: inline-block;
  background: lighten($color-subtle, 30%);
  border: 1px solid $color-border;
  padding: 1rem;
}