// COLOR SCHEME
.color-scheme{
  .color-block{
    color: $color-dark;
    span{
      display: block;
    }
  }
}

$color-name: primary secundary tertiary dark white black border heading body subtle success warning error information;
$colors: $color-primary $color-secundary $color-tertiary $color-dark $color-white $color-black $color-border $color-heading  $color-body  $color-subtle $color-success $color-warning $color-error $color-information;

@each $block in $color-name{
  $i: index($color-name, $block);
  // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
    $color: nth($colors, $i);
    .bg-#{$block}{
      background-color: $color;
    }
}
@each $block in $color-name{
  $i: index($color-name, $block);
  // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
    $color: nth($colors, $i);
    .#{$block}{
      color: $color;
    }
}
