textarea,
select,
input[type='text'],
input[type='email'],
input[type='url'],
input[type='number'],
input[type='search'],
input[type='phone'],
input[type='password'],
input[type='file'],
.custom-file-input{
  width: 100%;
  border-radius: $border-radius;
  border: 1px solid #ccc;
  &:focus{
    box-shadow: 0 0 5px $color-subtle;
    border: 1px solid $color-subtle;
    outline: none;
  }
}
select{
  padding: 0.75rem;
  height: 2.5em;
  background-color: white;
}

.custom-file{
  position: relative;
}
input[type='file']{
  opacity: 0;
}
.custom-file-input{
  position: absolute;
  width: 100%;
  top: 0;
  padding: 0.75rem 0.25rem;
  &::before{
    content: 'Kies uw bestand';
  }
  &::after{
    content: 'Browse';
    position: absolute;
    right: 0; top: 0;
    height: 100%;
    padding: 0.75rem;
    border-left: 1px solid $color-subtle;
    background-color: lighten($color-subtle, 30%);
  }
}

.input-group-prefix{
  position: relative;
  .input-prefix{
    position: absolute;
    height: 100%;
    color: rgba($color-dark, 0.5);
    color: $color-subtle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  input{
    padding-left: calc(0.75rem * 4);
  }
}

// RADIOS AND CHECKBOXES

input[type=radio],
input[type=checkbox]{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-indicators.disabled{
  cursor: not-allowed;
  opacity: 0.5;
}
input[type=radio]:checked ~ .custom-radiobutton{
  &:after{
    font-family: 'spirit';
    content: "\e021";
    color: $color-primary;
    font-size: 0.5rem;
  }
}
input[type=checkbox]:checked ~ .custom-checkbox{
  &:after{
    font-family: 'spirit';
    content: "\e012";
    color: $color-primary;
    font-size: 0.5rem;
  }
}

input[type=radio]:checked ~ .custom-radiobutton,
input[type=checkbox]:checked ~ .custom-checkbox{
  background-color: $color-white;
  border: 1px solid $color-primary;
}
.custom-checkbox,
.custom-radiobutton{
  display: block;
  float: left;
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  pointer-events: none;
  user-select: none;
    border: 1px solid $color-border;
    transition: all 0.3s ease-in-out;
  &::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 0rem;
    text-align: center;
    line-height: 1rem;
    transition: all 0.3s ease-in-out;

  }
}
.custom-radiobutton{
  border-radius: 50%;
  &::after{
    border-radius: 50%;
  }
}

// SWITCHES

.switch {
	display: none;
	// add default box-sizing for this scope
  &:after,
  &:before,
	& + .switch-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
	+ .switch-btn {
		outline: 0;
		display: block;
		width: 1.75rem;
		height: 1rem;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}

		&:after {
			left: 0;
		}

		&:before {
			display: none;
		}
	}

	&:checked + .switch-btn:after {
		left: 50%;
	}
}

.switch-primary,
.switch-secundary,
.switch-tertiary {
	+ .switch-btn {
		background: $color-body;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		&:after {
			border-radius: 50%;
			background: $color-white;
			transition: all .2s ease;
		}
	}
}

$color-name: primary secundary tertiary;
$colors: $color-primary $color-secundary $color-tertiary;

@each $block in $color-name{
  $i: index($color-name, $block);
  // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
    $color: nth($colors, $i);
    .switch-#{$block}:checked + .switch-btn {
      background: $color;
    }
}


// ERRORS AND VALIDS
.valid{
  color: $color-success;
    textarea,
    input[type='text'],
    input[type='email'],
    input[type='url'],
    input[type='password']{
    border: 1px solid $color-success;
    color: $color-success;
  }
  .input-prefix{
  color: $color-success;
  }
}
.error{
  color: $color-error;
    textarea,
    input[type='text'],
    input[type='email'],
    input[type='url'],
    input[type='password']{
    border: 1px solid $color-error;
    color: $color-error;
  }
  .input-prefix{
  color: $color-error;
  }
}