aside{
  border-right: 1px dotted #ccc;
  margin-right: 1rem;
}
header img {
  width: 100px;
}
.box{
  border: 1px solid #ccc;
}
hr{
  border: 0;
  height: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}
.nav__item{
  border-bottom: 1px dotted #ccc;
}
footer{
  text-align: center;
}

code{
  background-color: #ececec;
  padding: 1px 5px;
}
code:after{
  content: '';
  display: inline-block;
}