aside{
  border-right: 1px dotted #ccc;
}

header img {
  width: 200px;
}
main{
  position: relative;
  background-color: #FFF;
  z-index: 1;
}
main.main--raised{
margin: -60px 30px 0px;
border-radius: 6px;
box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
            0 6px 30px 5px rgba(0, 0, 0, 0.12),
            0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.box{
  border: 1px solid #ccc;
}
.code-box{
  border: 1px solid #ccc;
  background-color: #efefef;
}
.box .content{
  border-top: 1px dotted #ccc;
}
hr{
  border: 0;
  height: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}
/*ICONS*/
ul.glyphs{
  padding-left: 0;
}
  .glyphs li{
    list-style: none;
    float: left;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color:#bdc3c7;
  }
.sidebar{
  margin-right: 3rem;
}
.nav__item{
  text-align: right;
  border-bottom: 1px dotted #ccc;
}
footer{
  text-align: center;
}

code{
  background-color: #ececec;
  padding: 1px 5px;
}
code:after{
  content: '';
  display: inline-block;
}
hr{
  position: relative;
}
hr::after{
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #FFF;
  border-radius: 100%;
  box-shadow: #FFF 0 0 0 5px;
}