header{
  background: #13c6a6;
  position: relative;
}
header h1, header p{
  color: #FFF;
  padding: 0;
  margin: 0;
}
.relative{
  position: relative;
}
.header-logo{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 45px;
  margin-top: 5px;
}
.header-navigation{
  float: right;
}
.header-navigation ul li{
  list-style: none;
  float: left;
}
.header-navigation ul li a{
  text-decoration: none;
}
.header-navigation ul li a:hover{
  text-decoration: underline solid;
  text-decoration-skip: ink;
}
.hero--large{
  width: 100%;
  height: 95vh;
}
.hero{
  width: 100%;
  height: 30vh;
}
header img {
  width: 250px;
}
.absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title{
  font-size: 2rem;
  margin-top: 0;
}
main{
  position: relative;
  background-color: #FFF;
  z-index: 1;
  overflow-y: hidden;
}
main.main--raised{
margin: -60px 30px 0px;
border-radius: 6px;
box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
            0 6px 30px 5px rgba(0, 0, 0, 0.12),
            0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.box{
  border: 1px solid #ccc;
}
.code-box{
  border: 1px solid #ccc;
  background-color: #efefef;
  overflow: scroll;
}
.box .content{
  border-top: 1px dotted #ccc;
}
hr{
  border: 0;
  height: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}
/*ICONS*/
ul.glyphs{
  padding-left: 0;
}
  .glyphs li{
    list-style: none;
    float: left;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color:#bdc3c7;
  }
.nav__item{
  text-align: left;
}
.nav__item a{
  text-decoration: none;
  position: relative;
  width: 0;
}
.nav__item a::after{
  content: '';
  transition: all 0.15s ease-in-out;
  display: block;
  background-color: transparent;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 20px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}
.nav__item a:hover::after{
  content: '';
  background-color: #13c6a6;
}
.sticky{
  position: fixed!important;
  margin-left: 60px;
}
aside{
  position: absolute;
  top: 0;
  margin: 5.5rem 30px 0px;
  z-index: 10;
  left: 75px;
}
footer{
  text-align: center;
}

hr{
  position: relative;
}
hr::after{
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #FFF;
  border-radius: 100%;
  box-shadow: #FFF 0 0 0 5px;
}