@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Droid+Serif|Montserrat:300";
.navbar .inline-xs:first-child,
.navbar .inline-s:first-child,
.navbar .inline-m, .navbar .inline:first-child,
.navbar .inline-l:first-child,
.navbar .inline-x:first-child {
  margin-left: 0;
}

/*
 | ----------------------------------------------------------------
 | Base settings
 | ----------------------------------------------------------------
 |
 | Afhankelijk van de fonts die je kiest kan je hieronder de font-size definiëren.
 | Zo ben je zeker van een deftige font-rendering.
 |
 */
body {
  font-size: 14px;
}

/*
  | ----------------------------------------------------------------
  | Typography
  | ----------------------------------------------------------------
  |
  | Met google fonts kan je twee fonts inladen.
  | Best is dat je een serif en sans-serif font kiest.
  |
  */
/*
 | ----------------------------------------------------------------
 | Border Radius
 | ----------------------------------------------------------------
 |
 | ...
 |
 */
h1, h2, h3, h4, h5 {
  font-family: "Droid Serif";
  color: #212631;
}

body,
p {
  font-family: "Montserrat";
  color: #97a0aa;
}

ul, ol {
  word-break: break-word;
}

ol li {
  list-style: inherit;
}

blockquote {
  padding: 1.2em;
  background: white;
  border-left: 2px solid #b4e1e3;
}

code {
  display: inline-block;
  background: white;
  border: 1px solid #959eae;
  padding: 1rem;
}

code.serif:after {
  content: "Droid Serif";
}

code.sans-serif:after {
  content: "Montserrat";
}

.hexCode:after {
  content: #56c560;
}

a {
  color: #212631;
}

::-moz-selection {
  background-color: #46b5b8;
  color: #ffffff;
}

::selection {
  background-color: #46b5b8;
  color: #ffffff;
}

.raised, .nav-pills-primary li:hover,
.nav-pills-secundary li:hover, .dropdown-menu li a:hover,
.--raised {
  box-shadow: 0 16px 38px -12px rgba(79, 81, 100, 0.36), 0 4px 25px 0px rgba(79, 81, 100, 0.08), 0 8px 10px -5px rgba(79, 81, 100, 0.08);
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

a.btn {
  text-decoration: none;
}

.btn {
  padding: 0.5rem 1rem;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn.btn-lg {
  padding: 1rem 2rem;
}

.btn.btn-xl {
  padding: 2rem 4rem;
}

.btn-action {
  padding: 0.25em 0.5em;
  line-height: .5em;
  font-size: 1rem;
  border-radius: 5px;
}

.btn ~ .btn {
  margin-left: 1rem;
}

.btn-link {
  color: #56c560;
}

.btn-link:hover {
  color: #56c560;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
}

.btn-round {
  border-radius: 3rem;
}

.btn-circle {
  text-align: center;
  height: 2rem;
  width: 2rem;
  padding: 0;
  border-radius: 50px;
}

.btn-circle i {
  line-height: 2.2rem;
  font-size: 1rem;
}

.btn-primary {
  background-color: transparent;
  color: #56c560;
  border: 1px solid #56c560;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #56c560 !important;
  color: white;
  border: 1px solid #56c560;
  box-shadow: 0 14px 26px -12px rgba(86, 197, 96, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(86, 197, 96, 0.2);
}

.btn-o-primary {
  background-color: #56c560;
  color: #ffffff;
  border: 1px solid #56c560;
}

.btn-o-primary:hover, .btn-o-primary:focus, .btn-o-primary:active, .btn-o-primary.active {
  background-color: #3bad45;
  border: 1px solid #3bad45;
  box-shadow: 0 14px 26px -12px rgba(86, 197, 96, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(86, 197, 96, 0.2);
}

.btn-secundary {
  background-color: transparent;
  color: #46b5b8;
  border: 1px solid #46b5b8;
}

.btn-secundary:hover, .btn-secundary:focus, .btn-secundary:active, .btn-secundary.active {
  background-color: #46b5b8 !important;
  color: white;
  border: 1px solid #46b5b8;
  box-shadow: 0 14px 26px -12px rgba(70, 181, 184, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(70, 181, 184, 0.2);
}

.btn-o-secundary {
  background-color: #46b5b8;
  color: #ffffff;
  border: 1px solid #46b5b8;
}

.btn-o-secundary:hover, .btn-o-secundary:focus, .btn-o-secundary:active, .btn-o-secundary.active {
  background-color: #389193;
  border: 1px solid #389193;
  box-shadow: 0 14px 26px -12px rgba(70, 181, 184, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(70, 181, 184, 0.2);
}

.btn-tertiary {
  background-color: transparent;
  color: #d81b60;
  border: 1px solid #d81b60;
}

.btn-tertiary:hover, .btn-tertiary:focus, .btn-tertiary:active, .btn-tertiary.active {
  background-color: #d81b60 !important;
  color: white;
  border: 1px solid #d81b60;
  box-shadow: 0 14px 26px -12px rgba(216, 27, 96, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(216, 27, 96, 0.2);
}

.btn-o-tertiary {
  background-color: #d81b60;
  color: #ffffff;
  border: 1px solid #d81b60;
}

.btn-o-tertiary:hover, .btn-o-tertiary:focus, .btn-o-tertiary:active, .btn-o-tertiary.active {
  background-color: #ab154c;
  border: 1px solid #ab154c;
  box-shadow: 0 14px 26px -12px rgba(216, 27, 96, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(216, 27, 96, 0.2);
}

.btn-white {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active {
  background-color: #ffffff !important;
  color: white;
  border: 1px solid #ffffff;
  box-shadow: 0 14px 26px -12px rgba(255, 255, 255, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(255, 255, 255, 0.2);
}

.btn-o-white {
  background-color: #ffffff;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-o-white:hover, .btn-o-white:focus, .btn-o-white:active, .btn-o-white.active {
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  box-shadow: 0 14px 26px -12px rgba(255, 255, 255, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(255, 255, 255, 0.2);
}

.btn-success {
  background-color: transparent;
  color: #52bb52;
  border: 1px solid #52bb52;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  background-color: #52bb52 !important;
  color: white;
  border: 1px solid #52bb52;
  box-shadow: 0 14px 26px -12px rgba(82, 187, 82, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(82, 187, 82, 0.2);
}

.btn-o-success {
  background-color: #52bb52;
  color: #ffffff;
  border: 1px solid #52bb52;
}

.btn-o-success:hover, .btn-o-success:focus, .btn-o-success:active, .btn-o-success.active {
  background-color: #3e9c3e;
  border: 1px solid #3e9c3e;
  box-shadow: 0 14px 26px -12px rgba(82, 187, 82, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(82, 187, 82, 0.2);
}

.btn-error {
  background-color: transparent;
  color: #e03550;
  border: 1px solid #e03550;
}

.btn-error:hover, .btn-error:focus, .btn-error:active, .btn-error.active {
  background-color: #e03550 !important;
  color: white;
  border: 1px solid #e03550;
  box-shadow: 0 14px 26px -12px rgba(224, 53, 80, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(224, 53, 80, 0.2);
}

.btn-o-error {
  background-color: #e03550;
  color: #ffffff;
  border: 1px solid #e03550;
}

.btn-o-error:hover, .btn-o-error:focus, .btn-o-error:active, .btn-o-error.active {
  background-color: #c41e38;
  border: 1px solid #c41e38;
  box-shadow: 0 14px 26px -12px rgba(224, 53, 80, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(224, 53, 80, 0.2);
}

.btn-warning {
  background-color: transparent;
  color: #ffa726;
  border: 1px solid #ffa726;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
  background-color: #ffa726 !important;
  color: white;
  border: 1px solid #ffa726;
  box-shadow: 0 14px 26px -12px rgba(255, 167, 38, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(255, 167, 38, 0.2);
}

.btn-o-warning {
  background-color: #ffa726;
  color: #ffffff;
  border: 1px solid #ffa726;
}

.btn-o-warning:hover, .btn-o-warning:focus, .btn-o-warning:active, .btn-o-warning.active {
  background-color: #f29000;
  border: 1px solid #f29000;
  box-shadow: 0 14px 26px -12px rgba(255, 167, 38, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(255, 167, 38, 0.2);
}

.btn-information {
  background-color: transparent;
  color: #4a7bd1;
  border: 1px solid #4a7bd1;
}

.btn-information:hover, .btn-information:focus, .btn-information:active, .btn-information.active {
  background-color: #4a7bd1 !important;
  color: white;
  border: 1px solid #4a7bd1;
  box-shadow: 0 14px 26px -12px rgba(74, 123, 209, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(74, 123, 209, 0.2);
}

.btn-o-information {
  background-color: #4a7bd1;
  color: #ffffff;
  border: 1px solid #4a7bd1;
}

.btn-o-information:hover, .btn-o-information:focus, .btn-o-information:active, .btn-o-information.active {
  background-color: #2f61b9;
  border: 1px solid #2f61b9;
  box-shadow: 0 14px 26px -12px rgba(74, 123, 209, 0.42), 0 4px 23px 0px rgba(79, 81, 100, 0.12), 0 8px 10px -5px rgba(74, 123, 209, 0.2);
}

.label {
  padding: 0.25rem 0.5rem;
  display: inline-block;
  font-size: smaller;
  position: relative;
  border-radius: 5px;
}

.label::before {
  border-style: solid;
  border-width: 10px 10px 10px 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.label::after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.label--right::before {
  content: '';
  left: -7.5px;
}

.label--right::after {
  content: '';
  left: -4px;
}

.label--left::before {
  content: '';
  right: -7.5px;
  -webkit-transform: translateY(-50%) scale(-1);
  transform: translateY(-50%) scale(-1);
}

.label--left::after {
  content: '';
  right: -4px;
}

.label ~ .label {
  margin-left: 1rem;
}

.label--primary {
  background-color: #56c560;
  color: #ffffff;
  border: 1px solid #56c560;
}

.label--primary::before {
  border-color: transparent #56c560 transparent transparent;
}

.label-o--primary {
  background-color: transparent;
  color: #56c560;
  border: 1px solid #56c560;
}

.label--secundary {
  background-color: #46b5b8;
  color: #ffffff;
  border: 1px solid #46b5b8;
}

.label--secundary::before {
  border-color: transparent #46b5b8 transparent transparent;
}

.label-o--secundary {
  background-color: transparent;
  color: #46b5b8;
  border: 1px solid #46b5b8;
}

.label--success {
  background-color: #52bb52;
  color: #ffffff;
  border: 1px solid #52bb52;
}

.label--success::before {
  border-color: transparent #52bb52 transparent transparent;
}

.label-o--success {
  background-color: transparent;
  color: #52bb52;
  border: 1px solid #52bb52;
}

.label--warning {
  background-color: #ffa726;
  color: #ffffff;
  border: 1px solid #ffa726;
}

.label--warning::before {
  border-color: transparent #ffa726 transparent transparent;
}

.label-o--warning {
  background-color: transparent;
  color: #ffa726;
  border: 1px solid #ffa726;
}

.label--error {
  background-color: #e03550;
  color: #ffffff;
  border: 1px solid #e03550;
}

.label--error::before {
  border-color: transparent #e03550 transparent transparent;
}

.label-o--error {
  background-color: transparent;
  color: #e03550;
  border: 1px solid #e03550;
}

.label--information {
  background-color: #4a7bd1;
  color: #ffffff;
  border: 1px solid #4a7bd1;
}

.label--information::before {
  border-color: transparent #4a7bd1 transparent transparent;
}

.label-o--information {
  background-color: transparent;
  color: #4a7bd1;
  border: 1px solid #4a7bd1;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: rgba(79, 81, 100, 0.3);
  border-radius: 5px;
}

.badge.badge-left {
  margin-right: 0.5rem;
}

.badge.badge-right {
  margin-left: 0.5rem;
}

.alert {
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  width: 100%;
}

.alert .alert__copy {
  color: #ffffff;
}

.alert .alert__btn {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1rem;
}

.alert--primary {
  background-color: #56c560;
  border: 1px solid #3bad45;
}

.alert--primary .alert__btn {
  color: #56c560;
  background-color: rgba(79, 81, 100, 0.25);
}

.alert--primary .alert__btn:hover {
  background-color: white;
}

.alert--secundary {
  background-color: #46b5b8;
  border: 1px solid #389193;
}

.alert--secundary .alert__btn {
  color: #46b5b8;
  background-color: rgba(79, 81, 100, 0.25);
}

.alert--secundary .alert__btn:hover {
  background-color: white;
}

.alert--success {
  background-color: #52bb52;
  border: 1px solid #3e9c3e;
}

.alert--success .alert__btn {
  color: #52bb52;
  background-color: rgba(79, 81, 100, 0.25);
}

.alert--success .alert__btn:hover {
  background-color: white;
}

.alert--warning {
  background-color: #ffa726;
  border: 1px solid #f29000;
}

.alert--warning .alert__btn {
  color: #ffa726;
  background-color: rgba(79, 81, 100, 0.25);
}

.alert--warning .alert__btn:hover {
  background-color: white;
}

.alert--error {
  background-color: #e03550;
  border: 1px solid #c41e38;
}

.alert--error .alert__btn {
  color: #e03550;
  background-color: rgba(79, 81, 100, 0.25);
}

.alert--error .alert__btn:hover {
  background-color: white;
}

.alert--information {
  background-color: #4a7bd1;
  border: 1px solid #2f61b9;
}

.alert--information .alert__btn {
  color: #4a7bd1;
  background-color: rgba(79, 81, 100, 0.25);
}

.alert--information .alert__btn:hover {
  background-color: white;
}

.panel {
  border: 1px solid transparent;
  border-radius: 5px;
}

.panel-default {
  border-color: rgba(233, 235, 235, 0.75);
}

.panel-default .panel-footer,
.panel-default .panel-header {
  background-color: rgba(233, 235, 235, 0.75);
  color: #ffffff;
}

.panel-default.panel--raised {
  box-shadow: 0 16px 26px -10px rgba(233, 235, 235, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 235, 235, 0.2);
}

.panel-primary {
  border-color: rgba(86, 197, 96, 0.75);
}

.panel-primary .panel-footer,
.panel-primary .panel-header {
  background-color: rgba(86, 197, 96, 0.75);
  color: #ffffff;
}

.panel-primary.panel--raised {
  box-shadow: 0 16px 26px -10px rgba(86, 197, 96, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(86, 197, 96, 0.2);
}

.panel-secundary {
  border-color: rgba(70, 181, 184, 0.75);
}

.panel-secundary .panel-footer,
.panel-secundary .panel-header {
  background-color: rgba(70, 181, 184, 0.75);
  color: #ffffff;
}

.panel-secundary.panel--raised {
  box-shadow: 0 16px 26px -10px rgba(70, 181, 184, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(70, 181, 184, 0.2);
}

.panel-success {
  border-color: rgba(82, 187, 82, 0.75);
}

.panel-success .panel-footer,
.panel-success .panel-header {
  background-color: rgba(82, 187, 82, 0.75);
  color: #ffffff;
}

.panel-success.panel--raised {
  box-shadow: 0 16px 26px -10px rgba(82, 187, 82, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(82, 187, 82, 0.2);
}

.panel-warning {
  border-color: rgba(255, 167, 38, 0.75);
}

.panel-warning .panel-footer,
.panel-warning .panel-header {
  background-color: rgba(255, 167, 38, 0.75);
  color: #ffffff;
}

.panel-warning.panel--raised {
  box-shadow: 0 16px 26px -10px rgba(255, 167, 38, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 167, 38, 0.2);
}

.panel-error {
  border-color: rgba(224, 53, 80, 0.75);
}

.panel-error .panel-footer,
.panel-error .panel-header {
  background-color: rgba(224, 53, 80, 0.75);
  color: #ffffff;
}

.panel-error.panel--raised {
  box-shadow: 0 16px 26px -10px rgba(224, 53, 80, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(224, 53, 80, 0.2);
}

.panel-information {
  border-color: rgba(74, 123, 209, 0.75);
}

.panel-information .panel-footer,
.panel-information .panel-header {
  background-color: rgba(74, 123, 209, 0.75);
  color: #ffffff;
}

.panel-information.panel--raised {
  box-shadow: 0 16px 26px -10px rgba(74, 123, 209, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(74, 123, 209, 0.2);
}

ul.listgroup {
  margin: 0;
  padding: 0;
  border: 1px solid #959eae;
}

ul.listgroup li {
  list-style: none;
  border-bottom: 1px solid #959eae;
  padding: 0.5rem 0.75rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

ul.listgroup li:last-child {
  border-bottom: none;
}

ul.listgroup li:hover {
  color: #e9ebeb;
  background-color: #959eae;
  padding-left: 1rem;
}

.thumbnail {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #959eae;
  border-radius: 5px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.thumbnail img,
.thumbnail .caption {
  float: left;
}

.thumbnail:hover {
  box-shadow: 0 16px 38px -12px rgba(79, 81, 100, 0.36), 0 4px 25px 0px rgba(79, 81, 100, 0.08), 0 8px 10px -5px rgba(79, 81, 100, 0.08);
}

.thumbnail.--rounded {
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
}

.thumbnail.--rounded img {
  -o-object-fit: cover;
  object-fit: cover;
}

table {
  width: 100%;
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;
}

table thead {
  text-align: left;
}

table thead tr {
  background-color: transparent !important;
  color: #f7f8f9 !important;
}

table .table-hover tr:hover {
  background-color: rgba(247, 248, 249, 0.3);
  color: #a0acb7;
  cursor: pointer;
}

table th,
table td {
  padding: 0.375rem 0.75rem;
  text-align: left;
  border-bottom: 1px solid #f7f8f9;
}

table a.btn {
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  background-color: #ffffff;
}

table .btn ~ .btn {
  margin-left: 0;
}

.table-striped-default tr:nth-child(odd) {
  background-color: rgba(247, 248, 249, 0.2);
  color: #bdc5cd;
}

.table-striped-default tr:nth-child(even) {
  color: #bdc5cd;
}

.table-striped-default th,
.table-striped-default td {
  border-bottom: 1px solid #f7f8f9;
}

.table-striped-default.table-hover tr:hover {
  background-color: rgba(247, 248, 249, 0.3);
  color: #a0acb7;
  cursor: pointer;
}

.table-striped-primary tr:nth-child(odd) {
  background-color: rgba(86, 197, 96, 0.2);
  color: #2e8736;
}

.table-striped-primary tr:nth-child(even) {
  color: #2e8736;
}

.table-striped-primary th,
.table-striped-primary td {
  border-bottom: 1px solid #56c560;
}

.table-striped-primary.table-hover tr:hover {
  background-color: rgba(86, 197, 96, 0.3);
  color: #216127;
  cursor: pointer;
}

.table-striped-secundary tr:nth-child(odd) {
  background-color: rgba(70, 181, 184, 0.2);
  color: #2a6c6e;
}

.table-striped-secundary tr:nth-child(even) {
  color: #2a6c6e;
}

.table-striped-secundary th,
.table-striped-secundary td {
  border-bottom: 1px solid #46b5b8;
}

.table-striped-secundary.table-hover tr:hover {
  background-color: rgba(70, 181, 184, 0.3);
  color: #1c4849;
  cursor: pointer;
}

.navbar ul, .navbar ol {
  float: left;
}

.navbar ul li, .navbar ol li {
  float: left;
  list-style: none;
}

.nav-pills {
  text-align: center;
}

.nav-pills-primary li {
  background-color: #56c560;
}

.nav-pills-primary li:hover {
  background-color: #69cc72;
}

.nav-pills-secundary li {
  background-color: #46b5b8;
}

.nav-pills-secundary li:hover {
  background-color: #58bdbf;
}

.nav-pills-primary li,
.nav-pills-secundary li {
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav-pills-primary li a,
.nav-pills-secundary li a {
  color: #ffffff;
  text-decoration: none;
}

.nav-pills .icon {
  display: block;
  font-size: 2em;
  padding: 1rem 0;
}

.dropdown {
  position: relative;
  z-index: 1;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  margin-top: -20px;
  opacity: 0;
  visibility: hidden;
  display: block;
}

.dropdown .dropdown-menu.open {
  opacity: 1;
  visibility: visible;
  margin-top: 1px;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 1px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  padding-left: 0;
  float: left;
  min-width: 160px;
  -webkit-background-clip: padding-box;
  border: 1px solid #959eae;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu li.dropdown-header {
  color: #e9ebeb;
  font-size: 0.750em;
  padding: 0.75em 2em;
}

.dropdown-menu li a {
  display: block;
  font-size: 0.875em;
  text-decoration: none;
  padding: 0.75em 2em;
  margin: 0 0.25em;
  line-height: 1.5;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu li a:hover {
  background-color: #56c560;
  color: #2e8736;
  border-radius: 5px;
}

.dropdown-menu li.divider {
  margin: 5px 0;
  border-top: 1px dotted #e9ebeb;
  width: 100%;
}

.pagination li {
  list-style: none outside none;
  display: inline-block;
  text-align: center;
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
  line-height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pagination li a {
  text-decoration: none;
}

.pagination-default li a {
  color: #e9ebeb;
}

.pagination-default li:hover, .pagination-default li.active {
  background: #e9ebeb;
}

.pagination-default li:hover a, .pagination-default li.active a {
  color: #ffffff;
}

.pagination-primary li a {
  color: #56c560;
}

.pagination-primary li:hover, .pagination-primary li.active {
  background: #56c560;
}

.pagination-primary li:hover a, .pagination-primary li.active a {
  color: #ffffff;
}

.pagination-secundary li a {
  color: #46b5b8;
}

.pagination-secundary li:hover, .pagination-secundary li.active {
  background: #46b5b8;
}

.pagination-secundary li:hover a, .pagination-secundary li.active a {
  color: #ffffff;
}

.tabs {
  width: 100%;
  display: inline-block;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.panel-tab:after {
  display: table;
  clear: both;
  content: '';
}

.panel-tab ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

.panel-tab ul li {
  float: left;
  list-style: none;
  margin-bottom: -1px;
}

.panel-tab ul a {
  padding: 9px 15px;
  display: inline-block;
  border-radius: none;
  background: #4f5164;
  color: #ffffff;
  -webkit-transition: all linear 0.15s;
  transition: all linear 0.15s;
  text-decoration: none;
}

.panel-tab ul a:hover {
  background: #383a48;
  color: #ffffff;
}

.panel-tab ul li.active a,
.panel-tab ul li.active a:hover {
  background: #ffffff;
  color: #97a0aa;
  border-top: 1px solid #959eae;
  border-left: 1px solid #959eae;
  border-right: 1px solid #959eae;
}

.panel-tab-right {
  float: right;
}

.panel-tab-right li:last-child {
  margin-left: 0;
  margin-right: 0;
}

.panel-tab-right li:last-child a {
  border-top-right-radius: 5px;
}

.panel-tab-left {
  float: left;
}

.panel-tab-left li:first-child {
  margin-left: 0;
  margin-right: 0;
}

.panel-tab-round li:first-child a {
  border-top-left-radius: 5px;
}

.panel-tab-round li:last-child a {
  border-top-right-radius: 5px;
}

.tab-content {
  border-radius: none;
  background-color: #ffffff;
  border: 1px solid #959eae;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

textarea,
select,
input[type='text'],
input[type='email'],
input[type='url'],
input[type='number'],
input[type='search'],
input[type='phone'],
input[type='password'],
input[type='file'],
.custom-file-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
select:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='phone']:focus,
input[type='password']:focus,
input[type='file']:focus,
.custom-file-input:focus {
  box-shadow: 0 0 5px #e9ebeb;
  border: 1px solid #e9ebeb;
  outline: none;
}

select {
  padding: 0.75rem;
  height: 2.5em;
  background-color: white;
}

.custom-file {
  position: relative;
}

input[type='file'] {
  opacity: 0;
}

.custom-file-input {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 0.75rem 0.25rem;
}

.custom-file-input::before {
  content: 'Kies uw bestand';
}

.custom-file-input::after {
  content: 'Browse';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0.75rem;
  border-left: 1px solid #e9ebeb;
  background-color: white;
}

.input-group-prefix {
  position: relative;
}

.input-group-prefix .input-prefix {
  position: absolute;
  height: 100%;
  color: rgba(79, 81, 100, 0.5);
  color: #e9ebeb;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.75rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input-group-prefix input {
  padding-left: calc(0.75rem * 4);
}

input[type='search'] {
  background: url("../img/icons/search.svg") no-repeat right center;
  background-size: 10% 29%;
}

input[type=radio],
input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-indicators.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

input[type=radio]:checked ~ .custom-radiobutton:after {
  font-family: 'spirit';
  content: "\e021";
  color: #56c560;
  font-size: 0.5rem;
}

input[type=checkbox]:checked ~ .custom-checkbox:after {
  font-family: 'spirit';
  content: "\e012";
  color: #56c560;
  font-size: 0.5rem;
}

input[type=radio]:checked ~ .custom-radiobutton,
input[type=checkbox]:checked ~ .custom-checkbox {
  background-color: #ffffff;
  border: 1px solid #56c560;
}

.custom-checkbox,
.custom-radiobutton {
  display: block;
  float: left;
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #959eae;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom-checkbox::after,
.custom-radiobutton::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 0rem;
  text-align: center;
  line-height: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom-radiobutton {
  border-radius: 50%;
}

.custom-radiobutton::after {
  border-radius: 50%;
}

.switch {
  display: none;
}

.switch:after, .switch:before,
.switch + .switch-btn {
  box-sizing: border-box;
}

.switch:after::-moz-selection, .switch:before::-moz-selection,
.switch + .switch-btn::-moz-selection {
  background: none;
}

.switch:after::selection, .switch:before::selection,
.switch + .switch-btn::selection {
  background: none;
}

.switch + .switch-btn {
  outline: 0;
  display: block;
  width: 1.75rem;
  height: 1rem;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch + .switch-btn:after, .switch + .switch-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.switch + .switch-btn:after {
  left: 0;
}

.switch + .switch-btn:before {
  display: none;
}

.switch:checked + .switch-btn:after {
  left: 50%;
}

.switch-primary + .switch-btn,
.switch-secundary + .switch-btn,
.switch-tertiary + .switch-btn {
  background: #f7f8f9;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.switch-primary + .switch-btn:after,
.switch-secundary + .switch-btn:after,
.switch-tertiary + .switch-btn:after {
  border-radius: 50%;
  background: #ffffff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.switch-primary:checked + .switch-btn {
  background: #56c560;
}

.switch-secundary:checked + .switch-btn {
  background: #46b5b8;
}

.switch-tertiary:checked + .switch-btn {
  background: #d81b60;
}

.valid {
  color: #52bb52;
}

.valid textarea,
.valid input[type='text'],
.valid input[type='email'],
.valid input[type='url'],
.valid input[type='password'] {
  border: 1px solid #52bb52;
  color: #52bb52;
}

.valid .input-prefix {
  color: #52bb52;
}

.error {
  color: #e03550;
}

.error textarea,
.error input[type='text'],
.error input[type='email'],
.error input[type='url'],
.error input[type='password'] {
  border: 1px solid #e03550;
  color: #e03550;
}

.error .input-prefix {
  color: #e03550;
}

.color-scheme .color-block {
  color: #4f5164;
}

.color-scheme .color-block span {
  display: block;
}

.bg-primary {
  background-color: #56c560;
}

.text-primary {
  color: #56c560;
}

.bg-secundary {
  background-color: #46b5b8;
}

.text-secundary {
  color: #46b5b8;
}

.bg-tertiary {
  background-color: #d81b60;
}

.text-tertiary {
  color: #d81b60;
}

.bg-dark {
  background-color: #4f5164;
}

.text-dark {
  color: #4f5164;
}

.bg-white {
  background-color: #ffffff;
}

.text-white {
  color: #ffffff;
}

.bg-black {
  background-color: #000000;
}

.text-black {
  color: #000000;
}

.bg-border {
  background-color: #959eae;
}

.text-border {
  color: #959eae;
}

.bg-heading {
  background-color: #212631;
}

.text-heading {
  color: #212631;
}

.bg-font {
  background-color: #97a0aa;
}

.text-font {
  color: #97a0aa;
}

.bg-subtle {
  background-color: #e9ebeb;
}

.text-subtle {
  color: #e9ebeb;
}

.bg-success {
  background-color: #52bb52;
}

.text-success {
  color: #52bb52;
}

.bg-warning {
  background-color: #ffa726;
}

.text-warning {
  color: #ffa726;
}

.bg-error {
  background-color: #e03550;
}

.text-error {
  color: #e03550;
}

.bg-information {
  background-color: #4a7bd1;
}

.text-information {
  color: #4a7bd1;
}

/* Mobile means everything smaller than desktop */

/*# sourceMappingURL=spirit.css.map */
