.tabs{
    border: 1px solid $c-subtle;
    li, a{
        display: inline-block;
    }
}

// Content of Tabs
.tab-content {
    border-radius: 0;
    background-color: none;
    border: none;
}
.tabs-nav{
    border-bottom: 1px solid $c-subtle;
}

.tab-content div {
    display:none;
}

.tab-content div.active {
    display:block;
}