// BUTTONS

a.btn{
    text-decoration: none;
}
.btn{
    padding: 0.5rem 1rem;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &.btn-lg{
      padding: 1rem 2rem;
    }
    &.btn-xl{
      padding: 2rem 4rem;
    }
}
.btn-action{
  padding: 0.25em 0.5em;
  line-height: .5em;
  font-size: 1rem;
  border-radius: $border-radius;
}
.btn ~ .btn{
  margin-left: 1rem;
}

.btn-link{
  color: $color-primary;
  &:hover{
    color: $color-primary;
    text-decoration: underline;
  }
}
.btn-round{
  border-radius: 2rem;
}
.btn-circle{
  text-align: center;
  height: 2rem;
  width: 2rem;
  padding: 0;
  border-radius: 50px;
  & i{
    line-height: 2.2rem;
    font-size: 1rem;
  }
}
$button-name: primary secundary tertiary white success error warning information;
$colors: $color-primary $color-secundary $color-tertiary $color-white $color-success $color-error $color-warning $color-information;

@each $button in $button-name{
  $i: index($button-name, $button);
  // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
    $color: nth($colors, $i);
    .btn-#{$button}{
      background-color: transparent;
      color: $color;
      border: 1px solid $color;
        &:hover, &:focus, &:active, &.active{
          background-color: $color!important;
          color: white;
          border: 1px solid $color;
          box-shadow: 0 14px 26px -12px rgba($color, 0.42),
                      0 4px 23px 0px rgba($color-dark, 0.12),
                      0 8px 10px -5px rgba($color, 0.2)
        }
    }
    .btn-o-#{$button}{
      background-color: $color;
      color: $color-white;
      border: 1px solid $color;
        &:hover, &:focus, &:active, &.active{
          background-color: darken($color, 10%);
          border: 1px solid darken($color, 10%);
          box-shadow: 0 14px 26px -12px rgba($color, 0.42),
                      0 4px 23px 0px rgba($color-dark, 0.12),
                      0 8px 10px -5px rgba($color, 0.2)
        }
    }
}
