ul.listgroup{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    border-bottom: 1px solid $color-border;
    padding: 0.5rem 0.75rem;
    &:last-child{
      border-bottom: none;
    }
    &:hover{
      background-color: $color-border;
    }
  }
}
