.alert{
    padding: 1rem;
    display: block;
    border-radius: 5px;
    &.alert__copy{
      color: rgba($color-black, 0.3)
    }
}


$alert-name: primary secundary success warning error information;
$colors: $color-primary $color-secundary $color-success $color-warning $color-error $color-information;;

@each $alert in $alert-name{
  $i: index($alert-name, $alert);
  // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
    $color: nth($colors, $i);
    .alert--#{$alert}{
      background-color: rgba($color,0.3);
      border: 1px solid $color;
    }
}
