.alert{
    padding: 1rem;
    display: inline-block;
    border-radius: $border-radius;
    position: relative;
    width: 100%;
    & .alert__copy{
      color: $color-white;
    }
    & .alert__btn{
      transition: 0.3s ease-in-out;
      cursor: pointer;
      border-radius: 1rem;
      padding: 0.5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
    }
}


$alert-name: primary secundary success warning error information;
$colors: $color-primary $color-secundary $color-success $color-warning $color-error $color-information;

@each $alert in $alert-name{
  $i: index($alert-name, $alert);
  // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
    $color: nth($colors, $i);
    .alert--#{$alert}{
      background-color: $color;
      border: 1px solid darken($color, 10%);
      .alert__btn{
        color:  $color;
        background-color: rgba($color-dark, 0.25);
        &:hover{
          background-color: rgba($color-white,1);
        }
      }
    }

}
