table{
  width: 100%;
  border-radius: $border-radius;
  border-collapse: separate;
  border-spacing: 0;
thead{
  text-align: left;
 tr{
  background-color: transparent!important;
  color: $color-body!important;
  }
}
tr:hover{
  background-color: $color-table;
}
th,
td{
  padding: 0.375rem 0.75rem; //same padding as squished
  text-align: left;
  border-bottom: 1px solid $color-table;
 }
 a.btn{
  transform: scale(0.75);
 }
 .btn~.btn{
   margin-left: 0;
 }
}

 $table-name: default primary secundary;
 $colors: $color-table $color-primary $color-secundary;

@each $table in $table-name{
 $i: index($table-name, $table);
 // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
   $color: nth($colors, $i);
   .table-striped-#{$table}{
     //border: 1px solid $color;
     tr:nth-child(odd){
       background-color: rgba($color, 0.20);
       color: darken($color,20%);
     }
     tr:nth-child(even){
       color: darken($color,20%);
     }
     tr:hover{
       background-color: rgba($color, 0.25);
       
       color: $color-white;
     }
     th,
     td{
       border-bottom: 1px solid $color;
      }
  }
}