// Tabs
.tabs {
  width:100%;
  display:inline-block;
  background-color: $color-body;
}
.clearfix{
  &:before,
  &:after{
    content: " ";
    display: table;
  }
}

// CLEAR FLOAT AFTER TAB NAVIGATION
.tab-nav:after {
  display:table;
  clear:both;
  content:'';
}
.tab-nav{
  padding: 0;
  margin: 0;
  width: 100%;
  & li {
    margin:0px 5px;
    float:left;
    list-style:none;
  }
  & a {
    padding:9px 15px;
    display:inline-block;
    border-radius:$border-radius;
    background:$color-subtle;
    color:$color-white;
    transition:all linear 0.15s;
    text-decoration:none;
    &:hover {
      background:darken($color-subtle,10%);
      color:$color-white;
    }
  }
  & li.active a,
  li.active a:hover {
    background:darken($color-subtle,10%);
    color:$color-white;
  }
}

// Content of Tabs
.tab-content {
  border-radius: $border-radius;
}

.tab {
  display:none;
}

.tab.active {
  display:block;
}