// Tabs
.tabs {
  width:100%;
  display:inline-block;
}
.clearfix{
  &:before,
  &:after{
    content: " ";
    display: table;
  }
}

// CLEAR FLOAT AFTER TAB NAVIGATION
.panel-tab:after {
  display:table;
  clear:both;
  content:'';
}
.panel-tab{
  ul{
    padding: 0;
    margin: 0;
    width: 100%;
      & li {
        float:left;
        list-style:none;
        margin-bottom: -1px;
      }
      & a {
        padding:9px 15px;
        display:inline-block;
        border-radius:none;
        background:$color-dark;
        color:$color-white;
        transition:all linear 0.15s;
        text-decoration:none;
        &:hover {
          background:darken($color-dark,10%);
          color:$color-white;
        }
      }
      & li.active a,
      li.active a:hover {
        background:$color-white;
        color:$color-font;
        border-top: 1px solid $color-border;
        border-left: 1px solid $color-border;
        border-right: 1px solid $color-border;
      }
    }
}

.panel-tab-right{
  float: right;
  li:last-child{
    margin-left:0;
    margin-right:0;
    a{
      border-top-right-radius: $border-radius;
    }
  }
}

.panel-tab-left{
  float: left;
  li:first-child{
    margin-left:0;
    margin-right:0;
  }
}

.panel-tab-round{
  li:first-child a{
    border-top-left-radius: $border-radius;
  }
  li:last-child a{
    border-top-right-radius: $border-radius;
  }
}

// Content of Tabs
.tab-content {
  border-radius: none;
  background-color: $color-white;
  border: 1px solid $color-border;
}

.tab {
  display:none;
}

.tab.active {
  display:block;
}