// COLOR SCHEME
.color-scheme{
  .color-block{
    color: $c-emphasis;
    span{
      display: block;
    }
  }
}

$c-name: primary secondary tertiary dark white black border heading font subtle success warning error information;
$colors: $c-primary $c-secondary $c-tertiary $c-emphasis $c-white $c-black $c-border $c-heading  $c-font  $c-subtle $c-success $c-warning $c-error $c-information;

@each $block in $c-name{
  $i: index($c-name, $block);
  // GET YOUR COLOR FROM THE nth-PLACE ON THE LIST
    $color: nth($colors, $i);
    .bg-#{$block}{
      background-color: $color;
    }
    .text-#{$block}{
      color: $color;
    }
}