$c-primary:       #13c6a6;
$c-secondary:     #4360a8;
$c-tertiary:      #d81b60;

$c-heading:       #212631; // Used for titles
$c-font:          #4f5164; // Used for paragraph text
$c-body:          #f7f8f9; // Used for body
$c-border:        #f4f6f9; // Used for borders

$c-subtle:        #f4f6f9;
$c-emphasis:      #4f5164;
$c-white:         #ffffff;
$c-black:         #000000;

$c-success:       #2fca74;
$c-warning:       #f5b848;
$c-error:         #ed4d4d;
$c-information:   #2083fe;

// components
$c-table:         #f7f8f9 !default;
$c-link:          #212631 !default;