// FOR THE STYLEGUIDE
span.serif:after{
    font-weight: bold;
    font-family: $font-family-serif;
    content:$font-family-serif;
}
span.sans-serif:after{
    font-weight: bold;
    font-family: $font-family-sans-serif;
    content:$font-family-sans-serif;
}
.hexCode:after{
    content: #{$c-primary};
}

// LINK COLORS
a{
    color: $c-link;
    &:hover{

    }
}

hr{
    border-top: none;
}

blockquote{
  padding: 1.2em;
  background: $c-subtle;
  border-left: 2px solid lighten($c-secondary, 30%);
}
code{
  display: inline-block;
  background: $c-subtle;
  border: 1px solid darken($c-subtle, 0.3);
  padding: 1rem;
}

// SELECTION COLORS
::selection{
    background-color: $c-secondary;
    color: $c-white;
}

.color-block{
    @extend .panel, .raised;
}
.code-box{
    background: $c-heading;
    color: $c-font;
    @extend .panel;
}