// FOR THE STYLEGUIDE
span.serif:after{
    font-weight: bold;
    font-family: $font-family-serif;
    content:$font-family-serif;
}
span.sans-serif:after{
    font-weight: bold;
    font-family: $font-family-sans-serif;
    content:$font-family-sans-serif;
}
.hexCode:after{
    content: #{$color-primary};
}

// LINK COLORS
a{
    color: $color-link;
    &:hover{

    }
}

hr{
    border-top: none;
}

blockquote{
  padding: 1.2em;
  background: $color-subtle;
  border-left: 2px solid lighten($color-secondary, 30%);
}
code{
  display: inline-block;
  background: $color-subtle;
  border: 1px solid darken($color-subtle, 0.3);
  padding: 1rem;
}

// SELECTION COLORS
::selection{
    background-color: $color-secondary;
    color: $color-white;
}